<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/morning-dawn.css">
    <title>Morning Dawn</title>
</head>
<body>
    <div>
        <p><a href="/">Home</a></p>
    </div>
	{{{body}}}
</body>
</html>