<table>
    <thead>
        <tr>
            <th>Bean ID:</th>
            <th>Coffee ID:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.beanID}}</td>
            <td>{{this.coffeeID}}</td>
            <td><button onclick="deleteBeanCoffees({{this.coffeeID}}, {{this.beanID}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form id="addBeansCoffee" method="POST" action="/addBeansCoffee">
    <label for="beanID">Bean ID</label>
    <input name="beanID" type="text" id="beanID" />
    <label for="coffee ID">Coffee ID</label>
    <input name="coffeeID" type="text" id="coffeeID" />
    <button type="submit">Add Beans Coffee</button> 
</form>