<table>
    <thead>
        <tr>
            <th>Coffee ID:</th>
            <th>Order ID:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.coffeeID}}</td>
            <td>{{this.orderID}}</td>
            <td><button onclick="deleteCoffeeOrders({{this.coffeeID}}, {{this.orderID}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form id="addCoffeeOrders" method="POST" action="/addCoffeeOrders">
    <label for="coffeeID">Coffee ID</label>
    <input name="coffeeID" type="text" id="coffeeID" />
    <label for="orderID">Order ID</label>
    <input name="orderID" type="text" id="orderID" />
    <button type="submit">Add Coffee Order</button> 
</form>