<h1>Morning Dawn</h1>
    <p>Site Navigation:</p>
    <ul>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/coffees">Coffees</a></li>
        <li><a href="/coffee-orders">Coffee Orders</a></li>
        <li><a href="/beans">Beans</a></li>
        <li><a href="/beans-coffee">Beans with Coffee</a></li>
        <li><a href="/teas">Teas</a></li>
        <li><a href="/tea-orders">Tea Orders</a></li>
        <li><a href="/customers">Customer Accounts</a></li>
    </ul>
  </body>