body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}

.inner-body {
    padding-left: 5%;
    padding-right: 5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
}

td {
    text-align: center;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

form {
    border: 1px solid black;
    width: 50%;
    margin: 2%;
    padding: 2%;
}